form{
    box-shadow: 6px 6px rgb(146, 149, 150);
     width:fit-content;
     padding:28px;
     background: linear-gradient(135deg,#b5d7ee,#dbb3eb); 
     }
 .one{
     margin-bottom: 15px;
     
 }
 .two{
     font-weight: bold;
 }
body{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding:20px;
 

}
input{
 border: 2px solid black;
 height:30px;
 width:250px;
 /* border-radius: 10%; */
}
#submit{
 background-color: rgb(77, 191, 77);
 width:270px;
 height:50px;
 margin-top: 15px;
 font-weight: bold;
 font-size: 17px;
}
.goto{
 margin-top: 20px;
 font-weight: bolder;
}
